---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	canonicalURL: string | URL;
	robots: string;
}

const { title, description, robots, canonicalURL } = Astro.props;
---
<BaseHead title={title} description={description} robots={robots} canonicalURL={canonicalURL} />
	<body>
	<Header />
		<slot />
	</body>
</html>